{% extends 'items/base.html' %}

{% block title %}Giriş Yap - Kayıp Eşya ve Bildirim Takip Sistemi{% endblock %}

{% block content %}
    <div class="container">
        <div class="form-container">
            <h2 class="form-title">Giriş Yap</h2>
            <form method="POST">
                {% csrf_token %}
                
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                            <small class="form-text">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <div class="form-text error">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
                
                <div class="form-buttons">
                    <a href="{% url 'home' %}" class="btn btn-tertiary">İptal</a>
                    <button type="submit" class="btn btn-primary">Giriş Yap</button>
                </div>
            </form>
            <div class="form-footer">
                <p>Hesabınız yok mu? <a href="{% url 'register' %}">Kayıt Olun</a></p>
                <p><a href="{% url 'password_reset' %}">Şifremi unuttum</a></p>
            </div>
        </div>
    </div>
{% endblock %}