{% autoescape off %}
Merhaba {{ user.get_username }},

"{{ site_name }}" sitesindeki hesabınız için bir şifre sıfırlama talebi aldık.
Bu talebi siz yaptıysanız, lütfen aşağıdaki bağlantıya tıklayarak yeni şifrenizi oluşturun:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Eğer bu bağlantı çalışmazsa, lütfen adresi kopyalayıp tarayıcınızın adres çubuğuna yapıştırın.

Bu şifre sıfırlama talebini siz yapmadıysanız, bu e-postayı görmezden gelebilirsiniz; hesabınız güvendedir.

Teşekkürler,
{{ site_name }} Ekibi
{% endautoescape %}
